<!DOCTYPE html>
<html>
<head>
    <title>The Upside Down</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="upside-bg">

    <h1 class="section-title glitch-sm" data-text="THE UPSIDE DOWN">THE UPSIDE DOWN</h1>

    <p class="story-text">
        The air is cold… shadows move… the Gate is open.  
        You are now inside the *Upside Down*.
    </p>

    <a href="/characters" class="enter-btn red-btn">MEET THE CHARACTERS</a>

</body>
</html>
