name: Depoying latest code to Ec2

on: 
  workflow_run:
    workflows: ["Continous Integration testing"]
    types:
      - completed
      
jobs:
  DeployCode:
    runs-on: "ubuntu-latest"
    steps:
     - run: echo "Started to Deploy code in Ec2 Own Instance"

     - name: Get All Github Events
       run: cat $GITHUB_EVENT_PATH  

     - name: Github Events Logs
       run: echo "Hello"\
            echo ${{github.event.workflow_run}}
            echo ${{github.event.workflow_run.conclusion}}
            echo ${{github.event.workflow_run.status}}
            echo ${{github.event.workflow_run.event}}
            

     - name: echo "Getting code from Local Repo to Actions Work Space"
       uses:  actions/checkout@v3 
    
     - name: Got code
       run: echo "Succesfully Checked out"

     # - name: Secret Logs SSH
     #   run: echo ${{secrets.EC2_SSH_KEY}}
   
     - name: Setup the Ec2 Instance
       uses: appleboy/scp-action@v0.1.4
       with:
         host: ${{secrets.EC2_HOST}}
         username: ubuntu
         key: ${{secrets.EC2_SSH_KEY}}
         source: "."
         target: "/home/ubuntu/simple-website"
     
     -  name: Executing Commands in Ec2
        uses: appleboy/ssh-action@master
        with:
           host: ${{secrets.EC2_HOST}}
           username: ubuntu
           key: ${{secrets.EC2_SSH_KEY}}
           script: |
             echo SuccessFully Running Commands Bro.
      
      

      

       

      



     

